﻿@model LibeReis.Models.Trip

<div class="my-3 p-3 bg-white rounded shadow-sm">
    <h2 class="display-3 border-bottom pb-2 mb-0">@Html.DisplayFor(model => model.Name)</h2>
    <div>
        <p>@Html.DisplayNameFor(model => model.StartDate): @Html.DisplayFor(model => model.StartDate)</p>
        <p>@Html.DisplayNameFor(model => model.EndDate): @Html.DisplayFor(model => model.EndDate)</p>
        <p>
            @Html.DisplayNameFor(model => model.TripCategory.Name): @Html.DisplayFor(model => model.TripCategory.Name)
            / @Html.DisplayFor(model => model.TripSubcategory.Name)
        </p>
    </div>
    <div class="media-body border-bottom pb-3">
        <div class="d-inline pb-3 mb-0 lh-125">
            <span>Leader:</span>
            <span class="badge badge-success badge-pill">@(Model.People.FirstOrDefault(t => t.Id == Model.OwnerId).FullName)</span>
            <span>Members:</span>
            @foreach (var p in Model.People.Where(p=>p.Id!=Model.OwnerId))
            {
                <span class="badge badge-info badge-pill">@($"{p.FullName}")</span>
            }
            @if (Model.OwnerId == ViewBag.CurrentPerson.Id)
            {
                <span> | </span>
                @Html.ActionLink("View members", "Index", "People", new { id = Model.Id }, null)
            }
        </div>
    </div>
    <div class="media-body pb-3 mb-0 lh-125">
        @Html.ActionLink("Todo list", "Index", "TodoLists", new { id = Model.Id }, null) |
        @Html.ActionLink("Equipments", "Index", "TripEquipments", new { id = Model.Id }, null)
    </div>
</div>