﻿@model LibeReis.Models.Trip

@{
    ViewBag.Title = "Delete";
}
<h3>Are you sure you want to delete this trip?</h3>

@Html.Partial("_TripPartial")

<div>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to Trips List", "Index")
        </div>
    }
</div>
