﻿@model LibeReis.Models.Trip

@{
    ViewBag.Title = "Details";
    var isOwner = ViewBag.CurrentPerson.Id == Model.OwnerId;
    var lastDayId = Model.TripDays.OrderBy(t => t.TripDay1).Last().Id;
    var dayMeals = Model.TripFoodItems.Where(t => t.TripDayId != null && t.FoodType != null)
        .GroupBy(t => t.TripDayId)
        ;
}


@Html.Partial("_TripPartial")

@foreach (var day in Model.TripDays)
{
    var dayMeal = dayMeals.Where(t => t.Key == day.Id);

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="display-4 border-dark pb-2 mb-0">@day.TripDay1.ToString("dd.MM.yyyy") - @day.Name</h6>
        <div class="media text-muted pt-3">
            <p @*class="media-body pb-3 mb-0 border-bottom small lh-125"*@>
                @day.Description
            </p>
        </div>

        <div>

            <p class="btn btn-default btn-sm dropdown-toggle" data-toggle="collapse" aria-haspopup="true" aria-expanded="false" data-target=@($"#meal{day.Id}")>
                Meals <span class="caret"></span>
            </p>

            <div id=@($"meal{day.Id}") class="collapse">
                <div class="row">
                    @foreach (var type in ViewBag.FoodTypes)
                    {
                        <div class="col-sm-4 m-0">
                            <div class="card">
                                <div class="card-body p-0">
                                    <h6 class="card-title card-header">@type.Value</h6>
                                    @if (dayMeal != null)
                                    {
                                        @:<ul class="list-group list-group-flush">
                                            foreach (var meal in dayMeal)
                                            {
                                                foreach (var m in meal)
                                                {
                                                    if (m.FoodType == type.Key)
                                                    {
                                                        <li class="list-group-item">@m.FoodItem.Name - @m.Amount @m.AmountUnit</li>
                                                    }
                                                }
                                            }
                                        @:</ul>
                                    }
                                    <small class="d-block text-right mt-3 pb-0">
                                        @Html.ActionLink("Add Fooditem", "../TripFoodItems/Create", "Trips", new { tripDayId = day.Id, tripId = day.TripId, foodType = type.Key }, new { @class = "pr-3" })
                                        @Html.ActionLink("Edit meal", "../TripFoodItems/Index", "Trips", new { tripDayId = day.Id, tripId = day.TripId, foodType = type.Key }, new { @class = "pr-3" })
                                    </small>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        @if (isOwner)
        {
            <small class="d-block text-right mt-3">
                @Html.ActionLink("Edit Tripday", "../Tripdays/Edit", "Trips", new { id = day.Id }, null)
                @if (day.Id == lastDayId)
                {
                    <span> | </span>
                    @Html.ActionLink("Delete tripday", "DeleteLastDay", new { id = Model.Id }, "Details")
                }
            </small>
        }




    </div>
}

@if (isOwner)
{
    @Html.ActionLink("Add a tripday", "AddDay", new { id = Model.Id }, new { @class = "btn btn-primary btn-sm", type = "button" });
}
<p>
    @if (Model.OwnerId == ViewBag.CurrentPerson.Id)
    {
        @Html.ActionLink("Edit trip", "Edit", new { id = Model.Id })
        <span> | </span>
    }
    @Html.ActionLink("Back to trips list", "Index")
</p>
