﻿@model IEnumerable<LibeReis.Models.Trip>

@{
    ViewBag.Title = ViewBag.CurrentPerson.FirstName;
}

<h2>
    Traveler @ViewBag.CurrentPerson.FirstName trips!
</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.OwnerId)
            </th>*@
        <th>
            Owner
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Created)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TripCategory.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TripSubcategory.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            <div align="center">&nbsp;<text>Duration</text></div>
        </th>
                <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.ActionLink(item.Name, "Details", new { id = item.Id })
    </td>
    @*<td>
            @Html.DisplayFor(modelItem => item.OwnerId)
        </td>*@
    <td>
        @Html.DisplayFor(modelItem => item.People.FirstOrDefault(t => t.Id == item.OwnerId).FullName)
    </td>
    <td>
        @*@Html.DisplayFor(modelItem => item.Created)*@
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TripCategory.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TripSubcategory.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.StartDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EndDate)
    </td>
    <td align="center">
        @ViewBag.Durations[item.Id]
    </td>
    <td>
        @*@Html.ActionLink("Details", "Details", new { id = item.Id })*@
        @if (item.OwnerId == ViewBag.CurrentPerson.Id)
        {
            @Html.ActionLink("Edit", "Edit", new { id = item.Id });
            @: |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id });
        }



    </td>
</tr>
    }

</table>
