﻿@model LibeReis.Models.TripFoodItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TripFoodItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FoodType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarrierId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarrierId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodItem.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodItem.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trip.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trip.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TripDay.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TripDay.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
