﻿@model IEnumerable<LibeReis.Models.TripFoodItem>

@{
    //ViewBag.Title = "Index";
    var day = Model.FirstOrDefault()?.TripDay;
    ViewBag.Title = day == null ? "Index" : day.TripDay1.ToString("dd.MM.yyyy");

}


<h2>@ViewBag.Title</h2>
@if (ViewBag.FoodTypes.ContainsKey(ViewBag.FoodType))
{
    <h3>@ViewBag.FoodTypes[ViewBag.FoodType]</h3>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FoodItem.Name)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.FoodType)
        </th>*@

        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountUnit)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarrierId)
            </th>*@

        @*<th>
                @Html.DisplayNameFor(model => model.Trip.Name)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripDay.Name)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FoodItem.Name)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.FoodType)
            </td>*@

            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountUnit)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarrierId)
                </td>*@

            @*<td>
                    @Html.DisplayFor(modelItem => item.Trip.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TripDay.Name)
                </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Add new fooditem", "Create", new { tripDayId = ViewBag.TripDayId, tripId = ViewBag.TripId, foodType = ViewBag.FoodType }, new { @class = "btn btn-primary btn-sm", type = "button" })
</p>
@Html.ActionLink("Back to trip", "Details", "Trips", new { id = ViewBag.TripId }, null)
