﻿@model LibeReis.Models.TodoList

@{
    ViewBag.Title = "Ülesande detailid";
}

<h2>Ülesande detailid</h2>

<div>
    <h4>Tegemist vajavate ülesannete nimekiri: ülesande detailvaade</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.OwnerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerId)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Trip.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trip.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Muuda ülesannet", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Tagasi nimekirja", "Index")
</p>
