﻿@model IEnumerable<LibeReis.Models.TodoList>

@{
    ViewBag.Title = "Tegemist vajavate asjade nimekiri";
}

@foreach (var item in Model.Take(1))
{
    <h2>@Html.DisplayFor(modelItem => item.Trip.Name)</h2>
}

<h4>Tegemist vajavate asjade nimekiri</h4>

<p>
    @if (ViewBag.OwnerId == ViewBag.CurrentPersonId)
    { 
    @Html.ActionLink("Loo uus", "Create", new { id = ViewBag.TripId })
        }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if (ViewBag.OwnerId == ViewBag.CurrentPersonId)
                    { 
                    @Html.ActionLink("Paranda", "Edit", new { id = item.Id }) 
                <span>|</span>
                    @Html.ActionLink("Kustuta", "Delete", new { id = item.Id })
                }
                @*@Html.ActionLink("Detailne vaade", "Details", new { id = item.Id })*@
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Back to trip", "Details", "Trips", new { id = ViewBag.TripId }, null)
