﻿@model IEnumerable<LibeReis.Models.Person>

@{
    ViewBag.Title = (ViewBag.TripId == null) ? "My profile" : ViewBag.Title = "Trip members";
}

    @foreach (var item in Model.Take(1))
    {
        if (ViewBag.TripId == null)
        {
            <h2>@Html.DisplayFor(modelItem => item.FullName) profile</h2>
        }
        else 
        { 
        <h2>@ViewBag.Title</h2>
        }
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.DataFile.ContentType)
            </th>*@
        <th>
            Pilt
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.DataFile.ContentType)
                </td>*@
            <td>
                <img src="@Url.Action("Content", "My", new {id = item.PictureId})" height="100" />
            </td>
            <td>
                @if (ViewBag.TripId == null && ViewBag.CurrentPersonId == item.Id)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id, tripId = ViewBag.TripId })
                }
                @*@Html.ActionLink("Details", "Details", new { id = item.Id })*@

                @if (ViewBag.TripId != null && ViewBag.OwnerId != item.Id)
                {
                    @Html.ActionLink("Remove", "Delete", new { id = item.Id, tripId = ViewBag.TripId })
                }
                @if (ViewBag.TripId != null && ViewBag.CurrentPersonId == item.Id)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id, tripId = ViewBag.TripId })
                }
            </td>

        </tr>
    }
</table>
@if (ViewBag.TripId != null && ViewBag.OwnerId == ViewBag.CurrentPersonId)
{
    @Html.ActionLink("Add a member", "Create", new { id = ViewBag.TripId }, new { @class = "btn btn-primary btn-sm", type = "button" })
    <br />
    @Html.ActionLink("Back to trip", "Details", "Trips", new { id = ViewBag.TripId }, null)
}
