﻿<head>
    <script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=6.3"></script>
</head>

@{
    ViewBag.Title = "Pisut meist";
}
<h2>@ViewBag.Title.</h2>
<!--<h3>@ViewBag.Message</h3>-->

<p>Kolm tenorit hoos...</p>
<p><img src="~/Content/Kolm_tenorit_hoos.jpg" /></p>



<asp:Panel ID="pnlMap" runat="server" style="position:absolute; width:400px; height:300px;" />

<script type="text/javascript">
    function LoadMap() {
        // Create a new instance of the VEMap Class
        // pnlMap is the ID of the Panel
        var map = new VEMap('pnlMap');
        // Call the VEMap.LoadMap method to load the map
        map.LoadMap();
    }
</script>
<body onload="LoadMap();">
