﻿@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>
<h3>Pisut infi</h3>

<address>
    Vali IT 2019, sügis<br />
    II rida, 3 kohta uksest<br />
</address>

<address>
    <strong>Tugi:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Turustus:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>