﻿@{
    ViewBag.Title = "Kolme tenori edev veebileht";
}



<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- Slaid1 -->
            <div class="carousel-item active" style="        background-image: url('../../Content/Slaid1a.JPG');">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="display-4">Meie korraldatud reisid ei unune isegi siis, kui te seda väga sooviksite...</h2>
                    <p class="lead">...veel aastaid hiljemgi ärkate öösiti, külm higi laubal...</p>
                </div>
            </div>
            <!-- Slaid2 -->
            <div class="carousel-item" style="        background-image: url('../../Content/Slaid3.JPG');">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="display-4">...veel aastaid hiljemgi ärkate öösiti, külm higi laubal...</h2>
                    <p class="lead">...veel aastaid hiljemgi ärkate öösiti, külm higi laubal...</p>
                </div>
            </div>
            <!-- Slaid3 -->
            <div class="carousel-item" style="        background-image: url('../../Content/Slaid2.JPG');
">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="display-4">Libe Reis : tempel mällu igaveseks!</h2>
                    <p class="lead">...meil Tarbijakaitses juba kõik "omad joped"...</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>

