﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Libe Reis 2019</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">Kolme tenori edev veebileht</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/" )>
                            Avalehele
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/About">Meist</a>
                    </li>
                    @if (Request.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Trips">Minu reisid</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/People">Minu andmed</a>
                        </li>
                    }
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </div>
    </nav>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Libe Reis</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
</body>
</html>
<script>
    $(document).ready(function () {

        $('.datepicker').datepicker({
            dateFormat: 'dd.mm.yy'
        });

    });

</script>
<script>
    /* Estonian initialisation for the jQuery UI date picker plugin. */
    /* Written by Mart Sõmermaa (mrts.pydev at gmail com). */
    (function (factory) {
        if (typeof define === "function" && define.amd) {
            // AMD. Register as an anonymous module.
            define(["../widgets/datepicker"], factory);
        } else {
            // Browser globals
            factory(jQuery.datepicker);
        }
    }(function (datepicker) {
        datepicker.regional.et = {
            closeText: "Sulge",
            prevText: "Eelnev",
            nextText: "Järgnev",
            currentText: "Täna",
            monthNames: ["Jaanuar", "Veebruar", "Märts", "Aprill", "Mai", "Juuni",
                "Juuli", "August", "September", "Oktoober", "November", "Detsember"],
            monthNamesShort: ["Jaan", "Veebr", "Märts", "Apr", "Mai", "Juuni",
                "Juuli", "Aug", "Sept", "Okt", "Nov", "Dets"],
            dayNames: [
                "Pühapäev",
                "Esmaspäev",
                "Teisipäev",
                "Kolmapäev",
                "Neljapäev",
                "Reede",
                "Laupäev"
            ],
            dayNamesShort: ["Pühap", "Esmasp", "Teisip", "Kolmap", "Neljap", "Reede", "Laup"],
            dayNamesMin: ["P", "E", "T", "K", "N", "R", "L"],
            weekHeader: "näd",
            dateFormat: "dd.mm.yy",
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ""
        };
        datepicker.setDefaults(datepicker.regional.et);
        return datepicker.regional.et;
    }));
</script>
