﻿@model LibeReis.Models.TripEquipment

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TripEquipment</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.PersonId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarrierId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarrierId)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Trip.Name) - @Html.DisplayFor(model => model.Trip.Name)
        </dt>

        <dd>
            <h5>@Html.DisplayFor(model => model.EquipmentName)</h5>
        </dd>

        <dd>
            @Html.DisplayNameFor(model => model.EquipmentType.Name) - @Html.DisplayFor(model => model.EquipmentType.Name)
        </dd>

        <dd>
            @Html.DisplayNameFor(model => model.Amount) - @Html.DisplayFor(model => model.Amount)
        </dd>

        <dd>
            @Html.DisplayNameFor(model => model.Weight) - @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>

        </dt>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" /> |
            @Html.ActionLink("Back to equipment list", "Index", new { id = ViewBag.TripId }, null)
        </div>
    }
</div>
