﻿@model LibeReis.Models.TripEquipment

@{
    ViewBag.Title = "Details";
}

    <h2>@Html.DisplayFor(model => model.Trip.Name)</h2>

<div>
    <h4>TripEquipment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarrierId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarrierId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EquipmentType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipmentType.Name)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Trip.Name)
        </dt>*@


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
