﻿@model IEnumerable<LibeReis.Models.TripEquipment>

@{
    ViewBag.Title = "Index";
}

@foreach (var item in Model.Take(1))
{
    <h2>@Html.DisplayFor(modelItem => item.Trip.Name)</h2>
}

<h4>Varustuse nimekiri</h4>
<p>
    @if (ViewBag.OwnerId == ViewBag.CurrentPersonId)
    { 
    @Html.ActionLink("Create New", "Create", new { id = ViewBag.TripId })
      } 
</p>
<table class="table">
    <tr>
        <th>
            Equipment Type
            @*@Html.DisplayNameFor(model => model.EquipmentType.Name)*@
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Trip.Name)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.EquipmentName)
        </th>
        <th>
            Person
            @*@Html.DisplayNameFor(model => model.PersonId)*@
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.CarrierId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.EquipmentType.Name)
    </td>
    @*<td>
            @Html.DisplayFor(modelItem => item.Trip.Name)
        </td>*@
    <td>
        @Html.DisplayFor(modelItem => item.EquipmentName)
    </td>
    <td>
        @*@Html.DisplayFor(modelItem => item.PersonId)*@
        @(((Dictionary<int,string>)ViewBag.Owners)[item.PersonId??0])
    </td>
    @*<td>
            @Html.DisplayFor(modelItem => item.CarrierId)
        </td>*@
    <td>
        @Html.DisplayFor(modelItem => item.Amount)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Weight)
    </td>
    <td>
        @if (ViewBag.OwnerId == ViewBag.CurrentPersonId)
        {
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) 
        <span>|</span>
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        }
        @*@Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
    </td>
</tr>
    }

</table>
@Html.ActionLink("Back to trip", "Details", "Trips", new { id = ViewBag.TripId }, null)
